{% extends "base.html"%}

{% block main_content %}
		<div class="c_inner">
									<div class="c_inner_t">
										<div class="c_inner_b">
								<div class="pad_content_inner">
								
									<div id="breadcrumb"><a href="#">Statik</a> &gt; <a href="/produk/static/cara-pesan">Cara Pemesanan</a></div>
									<br />

									<h3>Cara Anda Memesan</h3>
									<p>
									    Kami hanya melayani pembeliaan barang secara offline. Untuk sementar ini kami belum melayani pembayaran 
									    secara online. Berikut ini adalah tata cara pembelian pada warung POSS. 
									</p>
									<ul>
									    <li>Pilih Barang yang anda sukai, catat kode produknya</li>
									    <li>
										Kirim sms ke no 022 92125620 dengan format, #kode#jumlah#nama-anda .
										Contohnya #dvd-os-fedo#1#bram 
									    </li>
									    <li>Kemudian transfer uang sesui dengan jumlah pembeliaan ke rekening berikut :</li>
									    <li>Setelah kami menkonfirmasi transfer dari anda maka barang yang anda pesan akan kami kirimkan</li>
									</ul>
									
								</div><!-- end pad_content_inner -->

										</div>
									</div>
								</div>
								{% endblock %}