{% extends "base.html"%}

{% block main_content %}
		<div class="c_inner">
									<div class="c_inner_t">
										<div class="c_inner_b">
								<div class="pad_content_inner">
								
									<div id="breadcrumb"><a href="#">Statik</a> &gt; <a href="/produk/static/keranjang-belanja">Keranjang Belanja</a></div>
									<br />

									<h3>Keranjang Belanja</h3>
									<p>
									    Disini anda dapat memilih barang belanjaan yang anda inginkan dan anda dapat menghitung
									    berapa banyak biaya yang harus anda keluarkan. 
									</p>
									
									
								</div><!-- end pad_content_inner -->

										</div>
									</div>
								</div>
								{% endblock %}