{% extends "base.html" %}
{% load humanize %}

                                                                {% block main_content %}

                                                                <div class="pad_content">
                                                                <h1>Selamat datang di Warung Kami</h1>
                                                                <p></p>
                                                                {% for produk in list_produk.object_list %}
                                                                <a href="{% url produk_detil produk.id %}">
                                                                <div class="prodbox">
                                                                        <div class="prodbox_c">
                                                                        <div class="prodbox_b">
                                                                                <div class="pad_box">
                                                                                        <h2 class="prod_title">{{ produk.nama }}</h2>
                                                                                        <img src="{{ produk.gambar.gambar.url }}" width="150" alt="" class="imgcenter" />
                                                                                        <p>{{ produk.keterangan|safe|truncatewords:20 }}</p>
                                                                                        <p><span class="price"> Rp {{ produk.harga|intcomma }},00</span></p>
                                                                                </div>
                                                                        </div>
                                                                        </div>
                                                                </div>
                                                                </a>
                                                                {% endfor %}
                                                                <br style="clear:both;"  />
                                                                
                                                                <div class="clr"></div>
                                                                </div>
     <div class="pagination">
    <span class="step-links">
        {% if list_produk.has_previous %}
            <a href="?page={{ list_produk.previous_page_number }}">Sebelumnya</a>
        {% endif %}

        <span class="current">
            Halaman {{ list_produk.number }} dari {{ list_produk.paginator.num_pages }}.
        </span>

        {% if list_produk.has_next %}
            <a href="?page={{ list_produk.next_page_number }}">Berikutnya</a>
        {% endif %}
    </span>
</div>
                                                                 {% endblock %}