{% extends "base.html" %}
{% load humanize %}

                                                                {% block main_content %}
								    <div class="pad_content">
								    <h1>Selamat datang di Warung Kami</h1>
								    <p></p>
								    {% for produk in list_produk.object_list %}
								    {% if forloop.counter|divisibleby:3 %}
								    <div class="prodbox nomargin">
								    {% endif %}
								    <a href="{% url produk_detil produk.id %}">
								    <div class="prodbox">
									    <div class="prodbox_c">
									    <div class="prodbox_b">
										    {% if produk.diskon %}<span style="float:right;"><img src="/asset/images/diskon.png" alt="" /></span>{% endif %}
										    <div class="padbox_side">
											    <h2 class="prod_title">{{ produk.nama }}</h2>
											    
											    <img src="{{ produk.gambar.gambar.url }}" width="150" alt="" class="imgcenter" />
											    <p>{{ produk.keterangan|striptags|truncatewords:10 }}</p>
											    {% if not produk.diskon %}
											    <p><span class="price">Rp {{ produk.harga|intcomma }},00</span></p>
											    {% else %}
											    <p><span class="price" style="text-decoration: line-through;">Rp {{ produk.harga|intcomma }},00</span></p>
											    <p><span class="price" style="color:blue;">Hanya Rp {{ produk.get_diskon|intcomma }},00</span></p>
											    <p>Diskon {{ produk.diskon.nama }}, {{ produk.diskon.nominal }} %</p>
											    {% endif %}
										    </div>
									    </div>
									    </div>
								    </div>
								    
								    {% if forloop.counter|divisibleby:3 %}
								    </div>
								    </a><br style="clear:both;"  />
								    {% endif %}
								    {% endfor %}
                                                                
                                                                <div class="clr"></div>
                                                                </div>
                                                                <br style="clear:both;"  />
    {% if list_produk.has_previous == False %}                                                            
     <div class="pagination">
       <span class="step-links">
        {% if list_produk.has_previous %}
            <a href="?page={{ list_produk.previous_page_number }}">Sebelumnya</a>
        {% endif %}

        <span class="current">
            Halaman {{ list_produk.number }} dari {{ list_produk.paginator.num_pages }}.
        </span>

        {% if list_produk.has_next %}
            <a href="?page={{ list_produk.next_page_number }}">Berikutnya</a>
        {% endif %}
      </span>
     </div>
     {% endif %}
                                                                 {% endblock %}