{% extends "base.html"%}
{% load humanize %}

{% block main_content %}
<div class="c_inner">
                                                                        <div class="c_inner_t">
                                                                                <div class="c_inner_b">
                                                                <div class="pad_content_inner">
                                                                
                                                                        <div id="breadcrumb"><a href="#">Kategori</a>  &gt;  <a href="#">{{ kategori.nama }}</a></div><!-- end breadcrumb -->

                                                                        <br />
                                                                        <h3>Kategori {{ kategori.nama }}</h3>
                                                                        <div class="headings">
                                                                                <ul>
                                                                                        <li class="prodname">Nama Produk</li>
                                                                                        <li class="priceHead">Harga</li>
                                                                                        <li class="remove">Kode</li>

                                                                                </ul>
                                                                        </div><!-- end headings -->
                                                                        {% for produk in list_produk.object_list %}
                                                                        <a href="{%url produk_detil produk.id %}">
                                                                        <div class="catlist">
                                                                                <ul>
                                                                                        <li class="prodname"><img src="{{ produk.gambar.gambar.url }}" width="150" alt="" class="imgleft" />{{ produk.nama }}</li>
                                                                                        <li class="priceHead">Rp {{ produk.harga|intcomma }},00</li>
                                                                                        <li class="buy">{{ produk.kode }}</li>
                                                                                        
                                                                                </ul>

                                                                                <div class="clr"></div>
                                                                        </div></a><!-- end catlist -->
                                                                         {% endfor %} 
                                                                   <div class="pagination">
    <span class="step-links">
        {% if list_produk.has_previous %}
            <a href="?page={{ list_produk.previous_page_number }}">Sebelumnya</a>
        {% endif %}

        <span class="current">
            Halaman {{ list_produk.number }} dari {{ list_produk.paginator.num_pages }}.
        </span>

        {% if list_produk.has_next %}
            <a href="?page={{ list_produk.next_page_number }}">Berikutnya</a>
        {% endif %}
    </span>
</div>
                                                                </div><!-- end pad_content_inner -->
                                                                                </div>
                                                                        </div>
                                                                </div>
{% endblock %}