{% extends "base.html"%}
{% load humanize %}

{% block main_content %}
<div class="c_inner">
                                                                        <div class="c_inner_t">
                                                                                <div class="c_inner_b">
                                                                <div class="pad_content_inner">
                                                                
                                                                        <div id="breadcrumb"><a href="#">Home</a>  &gt;  <a href="#">Category</a></div><!-- end breadcrumb -->

                                                                        <br />
                                                                        <h3>Let's See What We Have Here</h3>
                                                                        <div class="headings">
                                                                                <ul>
                                                                                        <li class="prodname">Product Name </li>
                                                                                        <li class="priceHead">Price</li>
                                                                                        <li class="remove">Buy Now</li>

                                                                                </ul>
                                                                        </div><!-- end headings -->
                                                                        <div class="catlist">
                                                                                <ul>
                                                                                        <li class="prodname"><img src="images/imgcat1.jpg" alt="" class="imgleft" />Product #013</li>
                                                                                        <li class="priceHead">$230.00</li>
                                                                                        <li class="buy"><input type="image" src="images/but_buynow.gif" /></li>
                                                                                        
                                                                                </ul>

                                                                                <div class="clr"></div>
                                                                        </div><!-- end catlist -->
                                                                        <div class="catlist">
                                                                                <ul>
                                                                                        <li class="prodname"><img src="images/imgcat2.jpg" alt="" class="imgleft" />Product #018</li>
                                                                                        <li class="priceHead">$230.00</li>
                                                                                        <li class="buy"><input type="image" src="images/but_buynow.gif" /></li>
                                                                                        
                                                                                </ul>

                                                                                <div class="clr"></div>
                                                                        </div><!-- end catlist -->
                                                                        <div class="catlist">
                                                                                <ul>
                                                                                        <li class="prodname"><img src="images/imgcat3.jpg" alt="" class="imgleft" />Product #09</li>
                                                                                        <li class="priceHead">$230.00</li>
                                                                                        <li class="buy"><input type="image" src="images/but_buynow.gif" /></li>
                                                                                        
                                                                                </ul>

                                                                                <div class="clr"></div>
                                                                        </div><!-- end catlist -->
                                                                        <div class="catlist">
                                                                                <ul>
                                                                                        <li class="prodname"><img src="images/imgcat4.jpg" alt="" class="imgleft" />Product #023</li>
                                                                                        <li class="priceHead">$230.00</li>
                                                                                        <li class="buy"><input type="image" src="images/but_buynow.gif" /></li>
                                                                                        
                                                                                </ul>

                                                                                <div class="clr"></div>
                                                                        </div><!-- end catlist -->
                                                                        <div class="pagenumber"><span class="display">Displaying <strong>1</strong> to <strong>4</strong> (of <strong>4</strong> products)</span><span class="result">Result Pages: <strong>1</strong></span></div>

                                                                </div><!-- end pad_content_inner -->
                                                                                </div>
                                                                        </div>
                                                                </div>
{% endblock %}